@import url('https://fonts.googleapis.com/css2?family=Anton&family=Belanosima&family=Fjalla+One&family=Josefin+Sans:wght@300;400;600&family=Montserrat:wght@100;400;500;600;700;800;900&family=Oswald&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,600;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&family=Signika&family=Source+Code+Pro&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
}


.to-hide {
    @apply opacity-0 -translate-x-3/4;
    transition: all 1s;

}

.to-show {
    @apply opacity-100 translate-x-0;
    transition: all 1s;

}


.text-shadow {
    text-shadow: 2px 2px 6px rgb(81, 80, 80);
}




#grid-container {
    @apply grid grid-cols-12 font-poppins;
}


/*------------------------------------- HEADER ---------------------------------------------------------*/

header {

    @apply col-span-full sticky top-0 left-0 right-0 z-10 p-3;

    @apply flex justify-between items-center px-5percent text-gray-100 bg-sea;

}

header>h1 {
    @apply animate-pulse text-shadow;
}


nav {
    @apply bg-transparent flex transition-all;

    /*BREAKPOINTS*/
    @apply desknav:gap-7;

    @apply mobnav2:flex mobnav2:flex-col items-center mobnav2:gap-5 mobnav2:absolute mobnav2:top-0 mobnav2:left-0 mobnav2:right-0;

    @apply mobnav2:bg-deep-blue mobnav2:mt-14 mobnav2:h-0 mobnav2:overflow-hidden transition-all border-gray-200;
}

/*ABRE A NAV QUANDO O MENU FOR CLICADO*/
input:checked~nav {
    @apply mobnav2:h-44;
}

header label {
    @apply mobnav3:hidden;
}

nav a {
    @apply text-color-text text-lg hover:text-gray-100 font-semibold transition-all font-sans;
}

/*OCULTA BOTAO MENU QUANDO CHECK MARCADO*/
input:checked~label .btn-menu {
    @apply !hidden;
}

/* MOSTRA BOTAO X QUANDO CHECK MARCADO*/
input:checked~label .btn-x {
    @apply !block;
}

/*OCULTA O MENU HAMBURGUER QUANDO A TELA CHEGAR EM 1050PX*/
.btn-menu,
.btn-x {
    @apply text-3xl absolute top-4 right-3 mobnav3:hidden;
}

/*_________________________________________ FIM DO HEADER _____________________________________*/














/*--------------------------------------------------- HERO -------------------------------------------------------------*/

#hero {
    @apply text-white col-span-full bg-sea h-screen bg-cover bg-no-repeat relative px-5percent;

    @apply flex flex-col justify-center;
}


#hero #titles-hero-zip {
    @apply flex flex-col gap-10 -translate-y-20percent flex-wrap;
}


#titles-hero-zip h4 {
    @apply mobnav2:text-xl mobnav3:text-3xl font-semibold text-shadow;

}

#titles-hero-zip h1 {
    @apply font-bold text-shadow;

    /*breakpoints*/
    @apply mobnav2:text-4xl mobnav3:text-6xl;

}

#titles-hero-zip button {
    @apply bg-transparent w-fit px-10 py-5 rounded-full border border-4 hover:animate-pulse mobnav:text-sm text-xl shadow-2xl font-semibold;
}



/*------- SIDEBAR -------*/
#hero #sidebar {
    @apply flex flex-col gap-40 justify-center items-center;

    @apply absolute right-0 top-0 bottom-0 px-2 bg-black opacity-40;
}

#sidebar #socials-links {
    @apply flex flex-col gap-4;
}

#socials-links a {
    @apply mobnav:text-3xl text-4xl hover:scale-x-50 transition-all;
}

#hero #info-links {
    @apply flex flex-col gap-2;

}

#info-links a {
    @apply text-4xl hover:scale-x-50 transition-all;
}

/*--------- CONTAINER DAS BOLHAS ----------*/
#bubbles-zip {
    @apply absolute bottom-0 left-0 right-0 opacity-60;

    @apply flex justify-around;
}

#bubbles-zip img {
    @apply w-12 animate-bubbles opacity-0;
}


#bubbles-zip img:nth-child(2) {
    animation-delay: 6s;
}

#bubbles-zip img:nth-child(3) {
    animation-delay: 3.5s;
}

#bubbles-zip img:nth-child(4) {
    animation-delay: 1s;
}

#bubbles-zip img:nth-child(5) {
    animation-delay: 4s;
}

#bubbles-zip img:nth-child(6) {
    animation-delay: 7s;
}

#bubbles-zip img:nth-child(7) {
    animation-delay: 2s;
}

/*_____________________________________________________ FIM HERO __________________________________________________________*/















/*-------------------------------------------------------- ABOUT --------------------------------------------------------------*/


#about {
    @apply col-span-full flex flex-col items-center bg-deep-blue text-color-text py-5percent px-10 border-t-2 border-gray-900 shadow-2xl;
}

#about h1 {
    @apply text-center text-4xl font-bold text-shadow;
}

/*CONTAINER QUE ENGLOBA OS SUBTITULOS E IMAGEM DOS MERGULHADORES*/
#about .content-about {
    @apply flex p-2 mt-24 gap-5;

    /*BREAKPOINTS*/
    @apply deskbanner:flex-col large:w-80percent;
}

/*CONTAINER QUE ENGLOBA OS SUBTITULOS*/
.content-about #info-zip {
    @apply flex flex-col gap-10 flex-1 w-50percent;

    /*BREAKPOINTS*/
    @apply deskbanner:w-full small:gap-2;
}

#info-zip h3 {
    @apply text-3xl font-semibold text-shadow;

    /*Breakpoints*/
    @apply small:text-xl mobnav:text-2xl deskbanner:text-center;
}

#info-zip p {
    @apply text-lg leading-7;

    /*Breakpoints*/
    @apply small:text-xs mobnav2:text-base;
}

#info-zip #text-hidden-zip {
    @apply deskbanner:hidden;
}


/*CONTAINER QUE ENGLOBA A IMAGEM*/
.content-about #photo-zip {
    @apply shadow-2xl flex-1;

    /*BREAKPOINT*/
    @apply deskbanner:grid small:grid-cols-1 deskbanner:grid-cols-2 deskbanner:gap-5;
}

#photo-zip img {
    @apply border-4 border-gray-900 rounded-2xl;
}

#photo-zip img:nth-child(2) {
    @apply hidden;

    /*Breakpoints*/
    @apply small:hidden deskbanner:block;
}

/*_________________________________________________FIM DO ABOUT ________________________________________________________________*/





















/*---------------------------------------------------- SERVICE -------------------------------------------*/

#service {
    @apply col-span-full overflow-hidden flex flex-col items-center justify-center;
}

/*Container que engloba quem engloba os cards*/
#service #wrapped {
    @apply px-2 md:lg:xl:px-40 py-20 bg-deep bg-fixed bg-cover bg-top w-full text-white;
}


#wrapped h1 {
    @apply text-center text-4xl font-bold text-shadow mb-10;
}


/*Container que engloba os cards*/
#wrapped #cards-wrapped {
    @apply grid p-5 rounded-2xl m-auto max-w-7xl;

    /*Breakpoints*/
    @apply small:grid-cols-1 mobile:grid-cols-2 tablet:grid-cols-2 desktop:grid-cols-3 grid-cols-3;
    @apply small:w-90percent mobile:w-90percent tablet:w-90percent;
}


/*Cards individuais*/
#cards-wrapped #card {
    @apply flex flex-col items-center text-center gap-2 p-10 m-5 md:lg:xl:border-b cursor-pointer;
    @apply border-b-2 border-r-4 border-gray-700 rounded-xl shadow-2xl bg-deep-blue;
}


/*Icones dentro dos cards individuais*/

#card span i {
    /*As cores individuais de cada icone estão sendo definidas no HTML*/
    @apply text-white text-7xl rounded-full p-2;
}

#card h2 {
    @apply text-xl font-bold text-white mt-3 text-shadow;

}


#card p {
    @apply flex justify-center text-slate-400;
}

#card p i {
    @apply text-2xl text-cyan-600;
}

/*___________________________________________________FIM DO SKILLS ___________________________________________*/























/*----------------------------------------------------- FOOTER ---------------------------------------*/

footer {

    @apply col-span-full overflow-hidden flex items-center justify-center;

}


footer #sub-footer {

    @apply mx-auto text-white py-10 bg-deep-blue w-full;

}


/*Parte superior do footer*/
#top-footer {

    @apply text-center;

}


#top-footer h1 {

    @apply text-4xl mb-3 font-semibold text-shadow;

}


#top-footer>p {

    @apply text-lg text-orange-500;

}


/*Parte do meio do footer, onde fica os icones*/

#desc-icon-footer {

    @apply flex flex-wrap justify-center my-1 gap-10;

}


#desc-icon-footer .wrapped-icon-footer {

    @apply flex flex-col items-center w-auto rounded-lg px-4 pt-16 mx-2;

}



.wrapped-icon-footer img {
    @apply w-40 h-36;
}

.wrapped-icon-footer p {
    @apply text-lg
}


#bot-footer {

    @apply mt-28 flex flex-col md:flex-row md:justify-between items-center text-sm text-gray-400;

}



#bot-footer p {

    @apply order-2 md:order-1 mt-8 md:mt-0;

}



/*____________________________________________________FIM DO FOOTER _____________________________________*/